/*
    Black 000000
    Off-White E3E3E3
    Pastel Pink ECA498
    Silver AEADA8
*/

@font-face { font-family: PlayfairDisplay; src: url('css/Playfair_Display/static/PlayfairDisplay-Regular.ttf'); }

html {
    padding: env(safe-area-inset);
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23aeada8' fill-opacity='0.48' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #000000;
    font-family: PlayfairDisplay, serif;
    margin: 1px;
    padding: 1px;
}

.centering-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    background-color: #ECA498;
    position: fixed;
    top: 0;
    width: 101%;
    left: -1px;
}

footer {
    background-color: #ECA498;
    color: #e3e3e3;
    position: fixed;
    bottom: 0;
    width: 101%;
    left: -1px;
}

footer > div.centering-container {
    margin: 0.25em auto 0.35em auto;
}

div.header-coverage {
    margin: 2.9em auto;
    font-size: 1em;
}

div.footer-coverage {
    margin: 0.75em auto;
    font-size: 1em;
}

h1 {
    font-size: 2.25em;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

button.cart {
	background-color:inherit;
	border-radius: 0.1em;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:inherit;
	font-family:Georgia;
	text-decoration:none;
    font-size: 1em;
    color: #000000;
    padding: 0.25em 0.25em;
    margin: auto 0em auto 1em;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

button.cart:hover {
    background-color:#ECA498 !important;
}

span.cart-text {
    display: none;
}

.cartBadge {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 10px;
    background: #ff0000;
    color: #fff;
    padding: 0px 2px;
    vertical-align: top;
    margin-left: -6px; 
}


header nav > a {
    color: inherit;
    margin: auto 0.75em;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

header nav > a.left {
    margin: auto 1em auto 1.75em;
}

footer nav > a {
    color: inherit;
    margin: auto 0.5em;
    text-decoration: none;
    border:1px solid #000000;
    padding: 5px;
    width: 1em;
    height: auto;
    font-size: 5em;
}

hr {
    color: inherit;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

div.product-container {
    width: 90%;
    margin: 1em auto;
    border: 2px solid #000000;
    background-color: #ECA498;
    color: #000000;
    clear: both;
    box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.4);
}

div.product-image-and-description {
    overflow: hidden;
}

h3.product-title {
    font-size: 1em;
    margin: 0.1em auto 1em auto;
    text-decoration: underline;
}

div.filter-buttons {
    margin: auto auto 0.25em auto;
}

.filter-button {
	background-color:inherit;
	border-radius: 1em;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:inherit;
	font-family:Georgia;
	text-decoration:none;
    font-size: 0.75em;
    color: #000000;
    padding: 0.1em 0.6em;
    margin: auto 0.25em;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.filter-button:hover {
    background-color:#AEADA8 !important;
}

.filter-button.all {
    background-color:#AEADA8;
}
    

img.product-image {
    float: left;
    margin: auto 0.75em;
    height: 125px;
    width: 125px;
}

img.product-list {
    margin: auto 0.25em auto 0.75em;
}

p.product-description {
    font-size: 0.8em;
    text-align: left;
    margin: 0em 0.25em auto auto;
}

ul.product-list {
    overflow: hidden;
    text-align: left;
    padding-inline-start: 1.5em;
    margin: 0px;
    font-size: 0.9em;
}

ul.product-list > li {
    margin: 0.5em auto;
}

button.product-order {
    font-size: 0.8em;
    margin: 0.5em auto;
    background-color: #AEADA8;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    background: radial-gradient(circle, rgba(174,173,168,1) 91%, rgba(145,145,143,1) 100%);
    color: #000000;
    width: 75%;
}

button.product-order:hover {
    background-color: #AEADA8;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    color: #000000;
    transform: translateY(-2px);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: inherit;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.fa-instagram {
    background-color: #C13584;
    color: inherit;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.fa-envelope {
    background-color: #AEADA8;
    color: inherit;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}


@media screen and (min-width: 550px) {
    span.cart-text {
        display: inline;
    }

    span.cartBadge {
        display: none;
    }

    footer nav > a {
        color: inherit;
        margin: auto 0.5em;
        text-decoration: none;
        border:1px solid #000000;
        padding: 5px;
        width: 2em;
        height: auto;
        font-size: 5em;
    }

    .filter-button {
        font-size: 0.8em;
        padding: 0.1em 0.8em;
        margin: auto 0.8em;
    }

    button.product-order:hover {
        background-color: #ffffff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        color: #000000;
        transform: translateY(-2px);
    }
}

@media screen and (min-width: 775px) and (max-width: 1100px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    div.product-container {
        margin: 1em 3em;
        border: 2px solid #000000;
        width: 37%;
        clear: both;
    }
    
}

@media screen and (min-width: 1100px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    div.product-container {
        margin: 1em 3em;
        border: 2px solid #000000;
        width: 20%;
        clear: both;
    }

    .filter-button {
        font-size: 1em;
        padding: 0.1em 0.9em;
        margin: auto 1em;
    }
}