/*
    Black 000000
    Off-White E3E3E3
    Pastel Pink ECA498
    Silver AEADA8
*/

html {
    padding: env(safe-area-inset);
}

body {
    background-color:#AEADA8;
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    margin: 1px;
    padding: 1px;
}

.centering-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    background-color: #ECA498;
    position: fixed;
    top: 0;
    width: 101%;
    left: -1px;
}

footer {
    background-color: #ECA498;
    color: #e3e3e3;
    position: fixed;
    bottom: 0;
    width: 101%;
    left: -1px;
}

footer > div.centering-container {
    margin: 0.25em auto 0.35em auto;
}

div.header-coverage {
    margin: 2.9em auto;
    font-size: 1em;
}

h1 {
    font-size: 2.25em;
    text-align: center;
    margin: 0;
}

button.cart {
	background-color:inherit;
	border-radius: 0.1em;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:inherit;
	font-family:Georgia;
	text-decoration:none;
    font-size: 1em;
    color: #000000;
    padding: 0.25em 0.25em;
    margin: auto 0em auto 1em;
}

button.cart:hover {
    background-color:#ECA498 !important;
}

span.cart-text {
    display: none;
}

.cartBadge {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 10px;
    background: #ff0000;
    color: #fff;
    padding: 0px 2px;
    vertical-align: top;
    margin-left: -6px; 
}


header nav > a {
    color: inherit;
    margin: auto 0.75em;
    font-size: 1.2em;
}

header nav > a.left {
    margin: auto 1em auto 1.75em;
}

footer nav > a {
    color: inherit;
    margin: auto 0.5em;
    text-decoration: none;
    border:1px solid #000000;
    padding: 5px;
    width: 1em;
    height: auto;
    font-size: 5em;
}

hr {
    color: inherit;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

div.product-container {
    width: 90%;
    margin: 1em auto;
    border: 2px solid #000000;
    background-color: #ECA498;
    color: #000000;
    clear: both;
    box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.4);
}

div.product-image-and-description {
    overflow: hidden;
}

h3.product-title {
    font-size: 1em;
    margin: 0.1em auto 1em auto;
    text-decoration: underline;
}

div.filter-buttons {
    margin: auto auto 0.25em auto;
}

.filter-button {
	background-color:inherit;
	border-radius: 1em;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:inherit;
	font-family:Georgia;
	text-decoration:none;
    font-size: 0.75em;
    color: #000000;
    padding: 0.1em 0.6em;
    margin: auto 0.25em;
}

.filter-button:hover {
    background-color:#AEADA8 !important;
}

.filter-button.all {
    background-color:#AEADA8;
}
    

img.product-image {
    float: left;
    margin: auto 0.75em;
    height: 125px;
    width: 125px;
}

img.product-list {
    margin: auto 0.25em auto 0.75em;
}

p.product-description {
    font-size: 0.8em;
    text-align: left;
    margin: 0em 0.25em auto auto;
}

ul.product-list {
    overflow: hidden;
    text-align: left;
    padding-inline-start: 1em;
    margin: 0px;
    font-size: 0.9em;
}

ul.product-list > li {
    margin: 0.5em auto;
}

button.product-order {
    font-size: 0.8em;
    margin: 0.5em auto;
    background-color: #AEADA8;
    color: #000000;
    width: 75%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: inherit;
}

.fa-instagram {
    background-color: #C13584;
    color: inherit;
}

.fa-envelope {
    background-color: #AEADA8;
    color: inherit;
}


@media screen and (min-width: 550px) {
    span.cart-text {
        display: inline;
    }

    span.cartBadge {
        display: none;
    }

    footer nav > a {
        color: inherit;
        margin: auto 0.5em;
        text-decoration: none;
        border:1px solid #a6a6a6;
        padding: 5px;
        width: 2em;
        height: auto;
        font-size: 5em;
    }

    .filter-button {
        font-size: 0.8em;
        padding: 0.1em 0.8em;
        margin: auto 0.8em;
    }
}

@media screen and (min-width: 775px) and (max-width: 1100px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    div.product-container {
        margin: 1em 3em;
        border: 2px solid #000000;
        width: 37%;
        clear: both;
    }
    
}

@media screen and (min-width: 1100px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    div.product-container {
        margin: 1em 3em;
        border: 2px solid #000000;
        width: 20%;
        clear: both;
    }

    .filter-button {
        font-size: 1em;
        padding: 0.1em 0.9em;
        margin: auto 1em;
    }
}