/*
    Black 141204
    Off-White E3E3E3
    Light Grey cccccc
    Grey a6a6a6
    Light Purple A30078
    Purple 770058
    Dark Purple 600047
*/

body {
    background-color: #8E0045;
    color: #cccccc;
    font-family: Georgia, serif;
    margin: 1px;
    padding: 1px;
}

.centering-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    background-color: #600047;
    position: fixed;
    top: 0;
    width: 101%;
    left: -1px;
}

div.header-coverage {
    margin: 2.8em auto;
    font-size: 1em;
}

h1 {
    margin: 0em;
}

nav > a {
    color: inherit;
    margin: auto 1em;
    font-size: 1.2em;
}

hr {
    color: #a6a6a6;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

div.product-container {
    max-width: 90%;
    margin: 1em auto;
    border: 2px solid #a6a6a6;
    background-color: #A30078;
    color: #E3E3E3;
    clear: both;
    box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.4);
}

div.product-image-and-description {
    overflow: hidden;
}

h3.product-title {
    font-size: 1em;
    margin: 0.1em auto 1em auto;
    text-decoration: underline;
}

div.filter-buttons {
    margin: auto auto 0.25em auto;
}

.filter-button {
	background-color:inherit;
	border-radius: 1em;
	border:1px solid #a6a6a6;
	display:inline-block;
	cursor:pointer;
	color:inherit;
	font-family:Georgia;
	text-decoration:none;
    font-size: 0.75em;
    color: #cccccc;
    padding: 0.1em 0.75em;
    margin: auto 0.75em;
}

.filter-button:hover {
    background-color:#8E0045 !important;
}

.filter-button.all {
    background-color:#8E0045;
}
    

img.product-image {
    float: left;
    margin: auto 0.75em;
}

p.product-description {
    font-size: 0.8em;
    text-align: left;
    margin: 0em 0.25em auto auto;
}

button.product-order {
    font-size: 0.8em;
    margin: 0.5em auto;
    background-color: #600047;
    color: #cccccc;
    width: 75%;
}

@media screen and (min-width: 550px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    div.product-container {
        margin: 1em 3em;
        border: 2px solid #a6a6a6;
        width: 20%;
        clear: both;
    }
}

@media screen and (min-width: 550px) and (max-width: 850px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    div.product-container {
        margin: 1em 3em;
        border: 2px solid #a6a6a6;
        width: 37%;
        clear: both;
    }
}